server:
  port: 8086

spring:
  application:
    name: booking-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/planify}
    username: ${SPRING_DATASOURCE_USERNAME:planify}
    password: ${SPRING_DATASOURCE_PASSWORD:planify}
  jpa:
    properties:
      hibernate:
        default_schema: booking
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
    locations: classpath:db/migration
    defaultSchema: booking
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true

kafka:
  topics:
    booking-created: ${KAFKA_TOPIC_BOOKING_CREATED:booking-created}
    booking-events: ${KAFKA_TOPIC_BOOKING_EVENTS:booking.events}

grpc:
  server:
    port: 9095
    reflection-service-enabled: true
